<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задать вопрос</title>
</head>
<body>
    <h1>Задайте ваш вопрос</h1>
    <form method="post">
        <label for="questionTitle">Заголовок вопроса:</label>
        <input type="text" id="questionTitle" name="title"><br><br>
        <label for="questionText">Текст вопроса:</label>
        <textarea id="questionText" name="text"></textarea><br><br>
        <input type="submit" value="Отправить">
    </form>
    <a href="/">На главную</a>
</body>
</html>
