<!-- topic.html -->
{% extends "base.html" %}

{% block content %}
<div class="topic-header">
    <h1>{{ topic.title }}</h1>
    <p>Asked by: Аноним</p>
</div>

<div class="messages">
    {% for message in topic.messages %}
    <div class="message">
        <!-- Здесь также заменяем отображение email на "Аноним" -->
        <p>Аноним wrote:</p>
        <p>{{ message.content }}</p>
        {% if message.image_filename %}
        <!-- Убедитесь, что файл изображения находится в папке static/uploads -->
        <img src="{{ url_for('static', filename='uploads/' + message.image_filename) }}" alt="Uploaded Image">
        {% else %}
        <!-- Альтернативный текст или действие, если изображение отсутствует -->
        <p>[Изображение не найдено]</p>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}
